{%extends 'blog/basic.html'%}
{% block css %} 
.thumbnail{
  width: 200px;
  height: 250px;
  object-fit: cover;
}
{% endblock %}
{%block body%}
<div class="container mt-3">
<div class="row my-2">
  {% for post in posts %}
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">World</strong>
          <h3 class="mb-0">{{post.title}}</h3>
          <div class="mb-1 text-muted">Nov 12</div>
          <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="/blog/blogpost/{{post.post_id}}" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block" class="thumbnaildiv">
          <img src="/media/{{post.thumbnail}}" class="thumbnail" alt="">
        </div>
      </div>
    </div>
  {% endfor %}

  </div>
  </div>
{%endblock%}

{% block js %}

<script>
  console.log("{{posts}}");
</script>

{% endblock %}